/* Ubunto font */
@font-face {
  font-family: "Ubuntu Bold";
  src: url("../font/Ubuntu/Ubuntu-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu BoldItalic";
  src: url("../font/Ubuntu/Ubuntu-BoldItalic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Italic";
  src: url("../font/Ubuntu/Ubuntu-Italic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Light";
  src: url("../font/Ubuntu/Ubuntu-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu LightItalic";
  src: url("../font/Ubuntu/Ubuntu-LightItalic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url("../font/Ubuntu/Ubuntu-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu MediumItalic";
  src: url("../font/Ubuntu/Ubuntu-MediumItalic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../font/Ubuntu/Ubuntu-Regular.ttf");
  font-display: swap;
}

/* Philosopher font */
@font-face {
  font-family: "Philosopher Bold";
  src: url("../font/Philosopher/Philosopher-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Philosopher BoldItalic";
  src: url("../font/Philosopher/Philosopher-BoldItalic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Philosopher Italic";
  src: url("../font/Philosopher/Philosopher-Italic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Philosopher";
  src: url("../font/Philosopher/Philosopher-Regular.ttf");
  font-display: swap;
}
