/* Ubunto font */

@font-face {
  font-family: "Ubuntu";
  src: url("../font/Ubuntu/Ubuntu-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("../font/Ubuntu/Ubuntu-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../font/Ubuntu/Ubuntu-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../font/Ubuntu/Ubuntu-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

/* Philosopher font */
@font-face {
  font-family: "Philosopher";
  src: url("../font/Philosopher/Philosopher-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Philosopher";
  src: url("../font/Philosopher/Philosopher-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
