html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Ubuntu Bold";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  text-shadow: var(--text-shadow);
}

h2 {
  font-family: "Ubuntu Bold";
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
}

h3 {
  font-family: "Ubuntu Medium";
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 0.2625rem;
  line-height: 2.1rem;
}

h4 {
  font-family: "Ubuntu Bold";
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.1rem;
}

.large-body {
  font-family: "Ubuntu Light";
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.25rem;
}

.large-body-accent {
  font-family: "Ubuntu Medium";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.25rem;
}

.body {
  font-family: "Ubuntu Light";
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.875rem;
}

.body-accent {
  font-family: "Ubuntu Medium";
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.875rem;
}

.small-body {
  font-family: "Ubuntu";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6875rem;
}

.button {
  font-family: "Philosopher";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.container {
  max-width: 1092px;
  margin: 0 auto;
  padding-inline: 1rem;
}

.container h3 {
  color: var(--ocher-500);
  padding-bottom: 4rem;
  text-align: center;
}

.no-scroll {
  overflow: hidden;
}

.slider__indicators {
  display: none;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  gap: 0.5rem;
}

.slider__indicators-item {
  width: 8px;
  height: 8px;
  background-color: var(--ocher-100);
}

.slider__indicators-item--active {
  background-color: var(--ocher-500);
}

@media (max-width: 640px) {
  .slider__indicators {
    display: flex;
  }

  html {
    scroll-behavior: auto;
  }
}
