header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 1rem;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar__links {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.navbar__links a {
  color: var(--ocher-500);
}

.navbar button {
  background-color: var(--ocher-500);
  border-radius: 0.25rem;
  box-shadow: var(--shadow);
  color: var(--petrol-blue-500);
  font-family: "Philosopher";
  font-size: 20px;
  height: 40px;
  padding: 12px, 16px, 12px, 16px;
  width: 173px;
}

.navbar img {
  width: 143px;
  height: 48px;
}

.home {
  background-image: url("../img/home-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
}

.home__container {
  align-items: center;
  background-color: var(--petrol-blue-500);
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0.85;
}

.home__container__text {
  font-family: "Philosopher";
  color: var(--ocher-100);
  max-width: 1076px;
  text-align: center;
}

.home__container__text > span {
  color: var(--ocher-500);
}

.vision {
  background-color: var(--ocher-100);
  position: relative;
  padding-block: 12rem 20rem;
}

.vision__icon {
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.vision__text {
  align-items: center;
  color: var(--petrol-blue-500);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-top: 4rem;
  text-align: center;
}

.vision__text h2 {
  font-family: "Philosopher";
}

.vision__frame {
  position: relative;
  width: fit-content;
  padding-top: 10rem;
  margin-inline: auto;
}

.vision__frame__back {
  background-image: url("../img/vision-bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;
  height: 527px;
  padding: 2px;
  width: 535px;
  position: relative;
}

.vision__frame__back h1 {
  background-color: var(--petrol-blue-500);
  color: var(--ocher-500);
  font-family: "Philosopher";
  height: 100%;
  opacity: 0.85;
  padding: 2rem;
  position: relative;
  width: 100%;
}

.vision__frame__back__hatch {
  position: absolute;
  left: -37px;
  bottom: -30px;
  width: 73px;
  height: 60px;
}

.vision__frame__back__chevron {
  position: absolute;
  top: -20px;
  left: -20px;
}

.vision__frame__front {
  background-color: var(--ocher-500);
  bottom: -115px;
  color: var(--petrol-blue-500);
  height: 284px;
  position: absolute;
  right: -115px;
  width: 305px;
}

.vision__frame__front h4 {
  font-family: "Ubuntu";
  padding: 2rem 1rem;
}

.vision__frame__front__chevron {
  position: absolute;
  bottom: -20px;
  right: -20px;
}

.mission {
  background-color: var(--petrol-blue-500);
  padding-block: 4rem;
}

.mission__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 2rem;
  column-gap: 1rem;
  padding-block: 4rem;
}

.mission__grid__item {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  align-items: center;
  width: 340px;
  text-align: center;
  font-size: "Ubuntu";
}

.mission__grid__item:last-child {
  width: 310px;
}

.mission__grid__item__title {
  color: var(--ocher-300);
}

.mission__grid__item__text {
  color: var(--ocher-100);
}

.mission__use-cases {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.mission__use-cases__img {
  width: 26px;
  height: 27px;
}

.mission__use-cases__title {
  font-family: "Philosopher";
  color: var(--ocher-300);
}

.adn {
  background-color: var(--ocher-100);
  padding-block: 4rem;
}

.adn__container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding-top: 2rem;
}

.adn__container__item {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  text-align: center;
}

.adn__container__item__title {
  font-family: "Philosopher";
  color: var(--petrol-blue-500);
}

.adn__container__item__text {
  font-family: "Ubuntu";
  color: var(--petrol-blue-500);
}

.ecosystem {
  background-image: url("../img/ecosystem-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.ecosystem__container {
  align-items: center;
  background-color: var(--petrol-blue-500);
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0.85;
  text-align: center;
}

.ecosystem__container__text {
  color: var(--ocher-100);
  padding-block: 4rem 6rem;
}

.ecosystem__grid__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: "Ubuntu";
  gap: 0.75rem;
  color: var(--ocher-100);
}

.ecosystem__grid__item span {
  width: 40px;
  height: 8px;
  border-radius: 8px;
  background-color: red;
}

.footer {
  background-color: var(--ocher-100);
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 6.5rem;
  align-items: center;
  padding-block: 4rem;
}

.footer__container__contact {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  text-align: center;
}

.footer__container__contact h4 {
  color: var(--ocher-500);
  padding-bottom: 0.75rem;
}

.footer__container__contact h2 {
  color: var(--petrol-blue-500);
  font-family: "Philosopher";
}

.footer__container__contact img:last-child {
  transform: rotateZ(180deg);
}

.footer__container__position {
  align-items: center;
  color: var(--petrol-blue-500);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
