html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5ebe0;
}

h4 {
  color: #091f31;
  font-size: 28px;
  line-height: 32px;
  font-family: 'Ubuntu', 'Trebuchet';
  font-weight: 500;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  margin: 120px 0 0 0;
}
